.faire-un-don {
  overflow: hidden;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr; }

.faire-un-don .faire-un-don-content {
  overflow-y: scroll;
  position: relative; }

.faire-un-don .faire-un-don-content .faire-don-page {
  width: 720px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #f5f5f5;
  -webkit-filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.04));
  filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.04)); }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don {
  width: 650px;
  height: 94%;
  background: white;
  padding: 3rem 0 3rem 3rem;
  position: absolute;
  right: 2rem;
  top: 2rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .name {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ff6900;
  margin-bottom: 2rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .thanks .sentence-of-thanks {
  font-weight: bold;
  font-size: 2.4rem;
  color: #484848; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .thanks .sub-title {
  font-size: 2rem;
  color: #968989; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-lists .title {
  font-weight: 500;
  font-size: 2.4rem;
  color: #484848; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-lists .faire-un-don-lists-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 5rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-lists .faire-un-don-lists-food .list-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2rem;
  height: 60px; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-lists .faire-un-don-lists-food .list-food .food-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 2rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-lists .faire-un-don-lists-food .list-food .food-details .food-name {
  font-weight: bold;
  font-size: 1.6rem;
  color: #484848; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-lists .faire-un-don-lists-food .list-food .food-details .price {
  font-weight: normal;
  font-size: 1.8rem;
  color: #ff6900; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .title {
  font-weight: 500;
  font-size: 2.4rem;
  color: #484848; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .associations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-right: 3rem;
  margin: 1rem 0; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .associations .association {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .associations .association .association-img {
  width: 100%; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .associations .association .association-details {
  padding: 2rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .associations .association .association-details .association-name {
  font-size: 1.6rem;
  color: #484848;
  font-weight: bold; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .associations .association .association-details .association-location .adress {
  font-weight: normal;
  font-size: 1.4rem;
  color: #484848;
  opacity: 0.8;
  padding-left: 1rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .choose-ONG .ONG-bottom {
  font-weight: 500;
  font-size: 1.4rem;
  color: #484848;
  opacity: 0.4; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox {
  margin: 1rem 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox span {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #f400a9; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #484848; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .container:hover input ~ .checkmark {
  background-color: #ccc; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .container input:checked ~ .checkmark {
  background-color: #2196F3; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .container input:checked ~ .checkmark:after {
  display: block; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-checkbox .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-buttom {
  position: absolute;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-right: 3rem; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-buttom .cancel {
  font-weight: bold;
  font-size: 1.4rem;
  color: #ff6900;
  cursor: pointer;
  outline: none; }

.faire-un-don .faire-un-don-content .faire-don-page .faire-don .faire-un-don-buttom .continuer {
  width: 215px;
  height: 60px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ff6900;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  color: #ff6900;
  cursor: pointer;
  outline: none; }

/*# sourceMappingURL=faire-un-don.css.map */
