.taktak-points {
  overflow: hidden;
  height: 87vh;
  display: grid;
  grid-template-columns: auto 1fr; }
  .taktak-points .taktak-points-content {
    overflow-y: scroll;
    position: relative; }
    .taktak-points .taktak-points-content::-webkit-scrollbar {
      display: none; }
    .taktak-points .taktak-points-content .taktak-points-content-first-page {
      padding: 0 7rem; }

      .taktak-points .taktak-points-content .taktak-points-content-first-page .second-page-header-left-side {
        display: flex;
        align-items: center;
        cursor: pointer; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .second-page-header-left-side i {
          font-weight: 300;
          font-size: 3rem;
          text-align: center;
          color: #484848;
          opacity: 0.5; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .second-page-header-left-side span {
          font-size: 3rem;
          color: #484848;
          opacity: 0.5;
          margin-left: 2rem; }

      .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-header {
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 2.4rem; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-header .man-wintak {
          display: block;
          margin: auto;
          margin-bottom: 2rem; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-header .header-title {
          font-weight: bold;
          font-size: 1.6rem;
          text-align: center;
          color: #484848;
          display: block; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-header .header-description,
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-header .header-helper {
          display: block;
          color: #484848;
          font-size: 1.6rem;
          text-align: center; }
      .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak {
        border-radius: 5px;
        border: 1px solid #A80000;
        margin: auto;
        height: 8rem;
        max-width: 70%;
        display: grid;
        grid-template-columns: 1fr 2fr; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-left-side {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 2rem;
          position: relative; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-left-side span:first-child {
            color: #a80000;
            font-size: 1.8rem;
            font-weight: bold; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-left-side span:nth-child(2) {
            font-size: 1.4rem;
            color: #484848;
            opacity: 0.5; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-left-side .triangle {
            position: absolute;
            right: -0.7rem;
            width: 2.5rem;
            height: auto; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side {
          display: flex;
          background-color: #A80000;
          display: grid;
          grid-template-columns: 1fr 4fr 3fr;
          justify-content: center;
          align-items: center; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side img {
            display: block;
            margin: auto; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side .solde {
            display: flex; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side .solde span:first-child {
              font-size: 4rem;
              color: #fff;
              font-weight: 300; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side .solde span:nth-child(2) {
              font-size: 2.5rem;
              color: #fff;
              font-weight: 300; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side .show-grid {
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: flex-end; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side .show-grid span {
              font-size: 1.4rem;
              color: #fff;
              font-weight: bold;
              padding-right: 3rem; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-solde-wintak .solde-wintak-right-side .show-grid i {
              color: white;
              font-size: 2rem;
              padding-right: 2rem; }
      .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans {
        text-align: center;
        margin-top: 4rem; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans span {
          font-size: 1.6rem;
          line-height: 2.4rem;
          text-align: center;
          color: #175db3;
          font-weight: 500; }
        .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans {
          display: grid;
          grid-gap: 2rem;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          justify-content: center;
          margin: 2rem auto;
          align-items: center; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans {
            height: 21.5rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
            background-size: cover;
            border-radius: 5px;
            cursor: pointer;
            overflow: hidden;
            border: 1px solid #e8e8e8; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans .content {
              display: flex;
              flex-direction: column;
              transition: 0.7s;
              border: 0px }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans .content .title {
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
                color: #484848;
                position: relative;
                transition: 0.5s; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans .content .subtitle {
                font-size: 2rem;
                text-align: center;
                color: #484848;
                display: block;
                margin-bottom: 0.4rem;
                position: relative;
                transition: 0.5s; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans .bu {
              position: absolute;
              text-align: center;
              left: 0;
              bottom: -2.5rem;
              padding: 1.6rem;
              transition: 1s;
              height: 3.7rem;
              font-size: 1.2rem;
              color: #5d5d5d;
              opacity: 0.5; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans:hover {
              border-radius: 5px;
              background: #fff7f1;
              border: 1px solid #ff6900; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans:hover .bu {
                bottom: 6rem; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans:hover .content {
                margin-bottom: 2rem; }
                .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans:hover .content .title {
                  color: #ff6900; }
                .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plans:hover .content .subtitle {
                  color: #ff6900; }
          .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img {
            position: relative;
            height: 21.5rem;
            display: block;
            background: white;
            transition: 0.7s linear;
            border-radius: 5px;
            background: #fff;
            border: 1px solid #e8e8e8; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img:hover {
              border-radius: 5px;
              background: #fff7f1;
              border: 1px solid #ff6900; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img:hover .content {
                background: #fff7f1; }
                .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img:hover .content .title {
                  color: #ff6900; }
                  .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img:hover .content .title .title-pourcentage {
                    color: #ff6900; }
                  .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img:hover .content .title .sub-title {
                    color: #ff6900; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .image {
              height: 12rem;
              overflow: hidden;
              position: absolute;
              top: 1rem; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .image img {
                height: 100%;
                width: 92%;
                transition: 0.3; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .content {
              position: absolute;
              bottom: 2rem;
              background: white;
              width: 100%;
              border: 0px; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .content .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
                .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .content .title .title-pourcentage {
                  font-weight: bold;
                  font-size: 2rem;
                  text-align: center;
                  color: #484848; }
                .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .content .title .sub-title {
                  font-size: 1.6rem;
                  text-align: center;
                  color: #484848; }
              .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .content .bottom {
                display: none; }
                .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img .content .bottom span {
                  font-size: 1.2rem;
                  text-align: center;
                  color: #5d5d5d;
                  opacity: 0.5;
                  line-height: 1.3rem; }
            .taktak-points .taktak-points-content .taktak-points-content-first-page .first-page-offers-plans .following-offers-plans .card-plats-with-img.active .image img {
              transform: scale(1); }
    .taktak-points .taktak-points-content .first-page-bottom {
      /*display: none;*/ }
      .taktak-points .taktak-points-content .first-page-bottom .solde-after {
        height: 6rem;
        background: #d40562;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 55555555555555; }
        .taktak-points .taktak-points-content .first-page-bottom .solde-after:hover {
          background-color: #be0256; }
        .taktak-points .taktak-points-content .first-page-bottom .solde-after span {
          font-size: 1.8rem;
          color: white; }
        .taktak-points .taktak-points-content .first-page-bottom .solde-after .croix {
          font-size: 2rem;
          color: white;
          cursor: pointer; }
    .taktak-points .taktak-points-content .taktak-points-content-second-page {
      /*display: none;*/
      padding: 0 7rem; }
      .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: center;
        grid-gap: 6rem; }
        .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-left-side {
          display: flex;
          align-items: center;
          cursor: pointer; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-left-side i {
            font-weight: 300;
            font-size: 3rem;
            text-align: center;
            color: #484848;
            opacity: 0.5; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-left-side span {
            font-size: 3rem;
            color: #484848;
            opacity: 0.5;
            margin-left: 2rem; }
        .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak {
          border-radius: 5px;
          border: 1px solid #A80000;
          height: 8rem;
          max-width: 100%;
          display: grid;
          grid-template-columns: 1fr 2fr; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-left-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
            position: relative; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-left-side span:first-child {
              color: #a80000;
              font-size: 1.8rem;
              font-weight: bold; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-left-side span:nth-child(2) {
              font-size: 1.4rem;
              color: #484848;
              opacity: 0.5; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-left-side .triangle {
              position: absolute;
              right: -0.7rem;
              width: 2.5rem;
              height: auto; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side {
            display: flex;
            background-color: #A80000;
            display: grid;
            grid-template-columns: 1fr 4fr 2fr;
            justify-content: center;
            align-items: center; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side img {
              display: block;
              margin: auto; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side .solde {
              display: flex; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side .solde span:first-child {
                font-size: 4rem;
                color: #fff;
                font-weight: 300; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side .solde span:nth-child(2) {
                font-size: 2.5rem;
                color: #fff;
                font-weight: 300; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side .show-grid {
              display: flex;
              align-items: center;
              cursor: pointer; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side .show-grid span {
                font-size: 1.4rem;
                color: #fff;
                font-weight: bold;
                padding-right: 3rem; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .taktak-points-second-page-header .second-page-header-right-side-solde-wintak .solde-wintak-right-side .show-grid i {
                color: white;
                font-size: 2rem; }
      .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid {
        margin: 4rem auto 12rem; }
        .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid span {
          font-weight: bold;
          font-size: 2.4rem;
          line-height: 24px;
          color: #175db3; }
        .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items {
          margin: 3rem 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          grid-gap: 13rem; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-left {
            border-bottom: 1px solid #e8e8e8; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-left .content {
              display: grid;
              grid-template-columns: 1fr 4fr 2fr;
              margin: 2rem 0;
              border: 0px; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-left .content i {
                font-size: 2rem;
                color: #ff6900; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-left .content .grid-items-content {
                font-size: 1.6rem;
                color: #484848;
                font-weight: normal; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-left .content .three-wintak {
                font-size: 1.6rem;
                color: #484848;
                font-weight: bold;
                display: flex;
                justify-content: flex-end; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-right {
            border-bottom: 1px solid #e8e8e8; }
            .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-right .content {
              display: grid;
              grid-template-columns: 1fr 4fr 2fr;
              margin: 2rem 0;
              border: 0px; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-right .content i {
                font-size: 2rem;
                color: #ff6900; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-right .content .grid-items-content {
                font-size: 1.6rem;
                color: #484848;
                font-weight: normal; }
              .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .grid .grid-items .grid-items-right .content .three-wintak {
                font-size: 1.6rem;
                color: #484848;
                font-weight: bold;
                display: flex;
                justify-content: flex-end; }

        .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .contentGrill {
          margin: 2rem 0;
          border: 0px;
          background-color: #fff;
          border-bottom: 1px solid #e8e8e8; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .contentGrill i {
            font-size: 2rem;
            color: #ff6900;
            margin-right: 20px; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .contentGrill .grid-items-content {
            font-size: 1.6rem;
            color: #484848;
            font-weight: normal; }
          .taktak-points .taktak-points-content .taktak-points-content-second-page .WinTak-Points-Value-Grid .contentGrill .three-wintak {
            font-size: 1.6rem;
            color: #484848;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            margin-top: -25px; }
